[Desktop Entry]
Name=Budgie
Comment=Budget application for normies
Exec=budgie
Icon=org.palodequeso.budgie
Terminal=false
Type=Application
Categories=Qt;Office;Finance;
Keywords=budget;finance;money;accounting;
